:root {
  font-family: 'Nunito';
  font-weight: 400;    
  font-style: normal;
  line-height: 1.5;

  color-scheme: dark;
  background-color: #2b2934;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  margin: 0;
  padding: 0;
  width: 100%;
}

.bg {
  content : "";
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity : 0.5;
  z-index: -1;
  background-image: url('/bgHorizontal.png');
  background-size: cover;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.material-icons-round {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.hoverable:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 10px #0003;
}

.hoverable {
  transition-duration: .2s;
}

#main {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 90px);
  justify-content: flex-start
}

.back-to-top {
  position: fixed;
  z-index: 2;
  bottom: 0;
  width: 100px;
  height: 150px;
  background-size: 100px 300px;
  opacity: 0.8;
  cursor: pointer;
  zoom: 0.6;
}

.back-to-top.arona:hover, 
.back-to-top.plana:hover, 
.back-to-top.plana:active,
.back-to-top.arona:active {
  background-position: 0 -150px;
  opacity: 1;
}

.back-to-top::after {
  content: "";
  position: fixed;
  z-index: 2;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 150px;
  transition: opacity 0.3s;
  opacity: 0;
  pointer-events: none;
}

.back-to-top.arona {
  left: -100px;
}

.back-to-top.arona,
.back-to-top.arona::after {
  background: url("/BackToTop-Arona.png") no-repeat 0 0;
  background-size: 100px 300px;
  transition: opacity 0.3s, left 0.5s;
}

.back-to-top.plana {
  right: -100px;
  transition: opacity 0.3s, right 0.5s;
}

.back-to-top.plana,
.back-to-top.plana::after {
  background: url("/BackToTop-Plana.png") no-repeat 0 0;
  background-size: 100px 300px;
}

.back-to-top.plana.load {
  right: 0;
}

.back-to-top.arona.load {
  left: 0;
}

.back-to-top.ani-leave {
  background-position: 0 -150px;
}

.back-to-top.plana.ani-leave {
  animation: ani-leave-right 300ms ease-in-out forwards;
}

.back-to-top.arona.ani-leave {
  animation: ani-leave-left 300ms ease-in-out forwards;
}

.back-to-top.left {
  pointer-events: none;
}

.back-to-top.left {
  background: none;
  transition: none;
}

footer {
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  background-color: #1c1a23;
  margin-top: 20px
}

footer p {
margin: 0;
}

footer a {
  color: cyan;
  text-decoration: none
}

@keyframes ani-leave-right {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100px);
  }
}

@keyframes ani-leave-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100px);
  }
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: #424242;
  border-radius: 3px;
  background-clip: padding-box;  
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #535353;
}

@media screen and (max-width: 600px) {
  .bg {
    background-image: url('/bgVertical.png');
  }
}

@media only screen and (min-width: 850px) and (min-height: 375px) {
  .back-to-top {
    zoom: 0.7;
  }
}

@media only screen and (min-width: 950px) and (min-height: 400px) {
  .back-to-top {
    zoom: 0.8;
  }
}

@media only screen and (min-width: 1060px) and (min-height: 500px) {
  .back-to-top {
    zoom: 0.9;
  }
}

@media only screen and (min-width: 1175px) and (min-height: 700px) {
  .back-to-top {
    zoom: 1;
  }
}